:root{
  --color-cta: rgba(9, 11, 18, 0.7);
  --color-sidebar: #000000;
  --color-main: #141922;
  --color-footer: #282828;
  --color-text: #797BB1;
  --color-text-link: #ADFF2E;
}
body{
  background-color: var(--color-main);
}
.layout-top{
  height: 90vh;
  border: 3px solid lightgreen;
  display: flex;

}
.layout-bottom{
  height: 10vh;
  /* border: 3px solid lightcoral; */
} 

.layout__sidebar{
  flex-basis: 10%;
  /* border: 3px solid lightcyan; */

  display: flex;
  flex-direction: column;

  background-color: var(--color-sidebar);

  padding: 10px;
  /* justify-content: space-between; */
}
.layout__main{
  flex-basis: 90%;
  /* border: 3px solid lightsalmon; */
  overflow-y: auto;
}
.layout__cta{
  /* border: 3px solid lightgreen; */
  padding: 20px;
  text-align: right;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-cta);
  font-size: 0.8rem;
}
.btn{
  border: 1px solid white;
}
.layout__sidebar--top{
  border: 3px solid lightcyan;
  height: calc(100% - 100px);
}

.layout__sidebar--bottom{
  border: 3px solid lightcoral;
 height: 100px;
}
.layout-bottom{
  background-color: var(--color-footer);
  
}
.layout__sidebar--logo img[alt$="big"]{
 display: none;
}

.layout__sidebar--menus ul li a span{
  display none;
}

.layout__sidebar--menus ul{

  display: flex: ;
  flex-direction: column;
  gap: 8px;
  align-items:center;
    

}
